<div class="container-fluid">
  <h1>Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm">

    {{userForm.value |json}}
    <hr>
    {{userModel|json}}

    <div class="form-group">
      <label >Name</label>
      <input type="text" #name="ngModel" [class.is-invalid]="name.invalid && name.touched " required class="form-control" name="name" [(ngModel)]="userModel.name">
      <!-- <p *ngIf="name.invalid && name.touched">
        Please Enter the name
      </p> -->
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Please Enter the name</small>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" required #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone" [(ngModel)]="userModel.phone">
      <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and have 10 digits</small>
    </div>

    <div class="form-group">
      <label>Topic</label>
      <select name="topic" id="" class="custom-select" [(ngModel)]="userModel.topic">
        <option value="">I am interested in</option>
        <option *ngFor="let top of topics">{{top}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label >Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePrefrerence" value="morning" [(ngModel)]="userModel.timepreference">
        <label class="form-check-label">Morning (9AM to 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePrefrerence" value="evening" [(ngModel)]="userModel.timepreference">
        <label class="form-check-label">Evening (5PM to 8PM)</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="suscribe" [(ngModel)]="userModel.subscribe">
        <label class="form-check-label">
          Send me promotional offers      
        </label>
      </div>
    </div>

    <button (click)="onClick(name.invalid||false, name.touched||false,'name')" class="btn btn-primary" type="submit">Submit Form</button>
  </form>
</div>